.center-register {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(57, 155, 158);
}
.login {
  margin-top: 10px;
  text-align: center;
}
.register-form {
  background-color: #e7e7f0;
  padding: 20px;
  margin-top: 70px;
}
a:link {
  text-decoration: none;
}
a {
  color: rgb(57, 155, 158);
}

a:hover {
  background-color: rgb(167, 227, 245);
}
